body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgb(46, 21, 85) 40%, rgb(30, 35, 107) 100%); ;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: rgb(79,3,185);
    background: linear-gradient(90deg, rgba(79,3,185,1) 0%, rgba(128,19,163,1) 42%, rgba(64,0,255,1) 100%); 
    width: 100%;
}

nav li {
    font-size: large;
    display: inline;
    padding: 16px;
    margin: 30px;
    border-radius: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}
 body {
     margin: 0;
 }

 .Title {
     text-align: center;
     color: lightblue;
     font-size: 300%;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 h2{
     color: rgb(1, 151, 197);
 }

 .text h2{
     text-align: left;
     color: rgb(18, 151, 168);
     font-size: large;
 }

 .text h3{
    text-align: left;
    color: rgb(18, 118, 131);
    font-size:medium;
}